<% if user_signed_in? %>
  <span>Signed in as <%= current_user.username %></span>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-default mb-2 lg:mr-2 lg:mb-0 block" %>
<% else %>
  <%= link_to "Login", new_user_session_path, class:"btn btn-default mb-2 lg:mr-2 lg:mb-0 block" %>
  <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-default block" %>
<% end %>